@model IEnumerable<Ogrenci>

<h2>Öğrenci Güncelleme</h2>
<a href="/Ogrenci/Create" class="btn btn-primary">Öğrenci Ekle</a>
<table class="table"
    <thead>
        <tr>
            <td>Öğrenci Id</td>
            <td>Öğrenci Ad</td>
            <td>Öğrenci Soyad</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogrenci in Model)
        {
            <tr>
                <td>@ogrenci.Id</td>
                <td>@ogrenci.OgrenciAd</td>
                <td>@ogrenci.OgrenciSoyad</td>
                <td>
                <a asp-action="Edit" asp-route-id="@ogrenci.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@ogrenci.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>    
</table>